<footer class="footer">
    <div class="f-info mt-auto sticky-bottom">
        <div class="f-info-socials">
            <i class="fa-brands fa-instagram fa"></i>
            <i class="fa-brands fa-square-facebook fa"></i>
            <i class="fa-brands fa-x-twitter fa"></i>
        </div>
        <div class="f-info-brand"> &copy; wanderLust Private Limited</div>
        <div class="f-info-links">
            <a>Privacy</a>
            <a>Terms</a>
        </div>
    </div>
</footer>