<%layout("/Layouts/boilerplate")%>
<div class="row">
<div class="alert col-6 offset-3 alert-danger" role="alert">
    <!-- <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg> -->
    
    A simple danger alert—check it out!
    <h4 class="alert-heading"><%=err.message%></h4>
    <!-- <p><%=err.stack%></p> -->
</div>
</div>
